$text-primary: #FFFFFF;
$text-secondary: #333333;

$bg: #FFFFFF;
$bg-primary: #333333;
$bg-secondary: linear-gradient(180deg, #00A9E7 0%, #005B9F 100%);

$button: #F6F6F6;
$button-primary: #0076C0;
$button-secondary: #FFFFFF;

$border-color: #9A9A9A;

$error: #D60000;

